/* 
Recriando o mesmo layout 
da página principal, porém 
de uma maneira diferente 
utilizando:
Grid-Template,      ===> Define a quantidade de linhas, colunas e os tamanhos
Grid-Column-Start   ---> Define a posição INICIAL do elemento em relação a COLUNA
Grid-Column-End,    ===> Define a posição FINAL do elemento em relação a COLUNA
Grid-Row-Start,     ---> Define a posição INICIAL do elemento em relação a LINHA
Grid-Row-End        ===> Define a posição FINAL do elemento em relação a LINHA
e o span            ---> Preenche as posições dos elementos até o início de certa linha/coluna
*/

body{
    background-color: #222;
}

.container{
    display: grid;

    height: 95vh;
    width: 95vw;

    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    padding: 10px;
    background-color: #555;
    border-radius: 2rem;

    grid-gap: 10px;

    grid-template:  auto auto auto auto auto auto
                                /
                    auto auto auto auto auto auto;
}

.r1{
    background-color: #ff0055;
    transition: all .3s;
}
.r2{
    background-color: #5900ff;
    transition: all .3s;
}
.r3{
    background-color: #47ff2f;
    transition: all .3s;
}

.r1:hover{box-shadow: 2px 2px 15px #ff0055;}
.r2:hover{box-shadow: 2px 2px 15px #5900ff;}
.r3:hover{box-shadow: 2px 2px 15px #47ff2f;}

.rect{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;

    font-size: 2rem;

    box-shadow: 2px 2px 10px #111;

    cursor: pointer;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 7;

    grid-row-start: 1;
    grid-row-end: 2;
}
.item2{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 5;
}
.item3{
    grid-column-start: 3;
    grid-column-end: span 4;

    grid-row-start: 2;
    grid-row-end: 5;
}
.item4{
    grid-column-end: span 3;

    grid-row-start: 5;
    grid-row-end: 7;
}
.item5{
    grid-column-start: 4;
    grid-column-end: 7;
}
.item6{
    grid-column-start: 4;
    grid-column-end: 7;
    
    grid-row-start: 6;
    grid-row-end: 7;
}

a{
    text-decoration: none;
    color: #ffffff;
}